.Product {
  width: 260px;
}
.Product__image {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border-radius: 16px;
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px; */
  transition: all 0.3s ease-in-out;
  padding: 16px;
}
.Product__image:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.Product__productName {
  font-weight: 500;
}
.Product__price {
  opacity: 0.9;
}

.Product__buttonWrapper {
  /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
  margin: auto;
}
/* .Product__buttonWrapper > * {
    width: 100%;
  } */
.Product__button--primary {
  background: var(--light-blue-clr);
  border: none;
  outline: none;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 8px 16px;
  cursor: pointer;
  color: var(--white-clr);
}
.Product__button--primary:hover {
  background: var(--bright-light-blue-clr);
}
.Product__button--secondary {
  outline: none;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 8px 16px;
  cursor: pointer;
  border: 1px solid var(--light-blue-clr);
  background: transparent;
  color: var(--light-blue-clr);
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
.Product__button--secondary:hover {
  border: none;
  background: var(--light-blue-clr);
  color: var(--white-clr);
}

.Product__offerWrapper {
  display: flex;
  /* flex-direction: column; */
  justify-self: flex-start;
  align-items: center;
  width: 100%;
  margin: auto;
}
.Product__offer {
  margin: 1px 0;
  padding: 4px 8px;
  background: var(--light-grey-clr);
  display: block;
  border-radius: 6px;
  font-size: 0.7rem;
  margin-right: 16px;
}
.Product {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: start;
}
.Product__offerWrapper {
  flex-direction: column;
  align-items: flex-start;
}

@media only screen and (max-width: 970px) {
  .Product__image {
    width: 160px;
    height: 180px;
  }
}
@media only screen and (max-width: 474px) {
  .Product__image {
    width: 160px;
    height: 240px;
  }
}
