:root {
  --light-grey: #f3f3f3;
  --light-blue-clr: #06c;
  --bright-light-blue-clr: #0c82ff;
}

body {
  margin: 0;
  font-family: "Roboto", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #313131;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.component-title {
  font-size: 2rem;
  margin: 0 auto;
  margin-bottom: 2rem;
}

.component-row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.component-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

